<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<title>{{page.title}}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-dark.css">
    <script src="/javascripts/scale.fix.js"></script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="blog">Haozi Programming Blog</h1> 
        <br />
        <p class="view"><a href="https://github.com/zouyonghao">View the Project on GitHub <small>zouyonghao</small></a></p>
        <ul>
          <li class="single"><a href="https://github.com/zouyonghao/zouyonghao.github.io">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
	  <h3>{{ page.title }}</h3>
	  {{ content }}
	  </section>
    </div>
    
  </body>
</html>
