<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta name="author" content="Yong-Hao Zou">
    <title>Yong-Hao Zou (邹永浩) | Yong-Hao Zou</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/highlight.css">
</head>

<body class="" id="syno-nsc-ext-gen3">
    <div id="container">
        <div id="main" role="main">
            <header>
                <div style="float: right;">
                    <img src="/assets/images/yonghao.png" height="200px"
                        style="float:right; border-radius: 15%; padding:0px">
                </div>
                <h1>Yonghao Zou (邹永浩)</h1>
                <p class="content">
                    <a href="https://dslab.epfl.ch/">DSLAB</a>
                    <br>
                    <a href="http://ic.epfl.ch/">IC</a>
                    <br>
                    <a href="https://www.epfl.ch/en/">EPFL</a>
                    <br>
                </p>
                <div class="content">
                    Email: yonghao.zou (at) epfl.ch <br>
                </div>
                <div class="content">
                    Address: Room INN-331, Station 14, 1015 Lausanne, Switzerland <br>
                </div>
            </header>
            <article class="content">
                <section class="post">

                    <hr>

                    <h2 id="misc">News</h2>

                    <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I joined DSLAB working with <a href="http://dslab.epfl.ch/people/candea/">Professor George Candea</a> and <a href="https://zhou-diyu.github.io/">Diyu Zhou.</a></p>

                    <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I will be a Ph.D at <a href="https://www.epfl.ch/en/">EPFL</a> in 2023.</p>

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I am looking for a Ph.D. position for 2023, please contect me if you are interested. <a href="http://zouyonghao.github.io/assets/CV.pdf">CV</a></p> -->

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I joined Moco Tech as CTO!</p> -->

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I graduated from Tsinghua University and got Outstanding Graduate!</p> -->

                    <hr>

                    <h2 id="biography">Biography</h2>

                    <p>
                        I’m a first year PhD student at EPFL working with <a href="http://dslab.epfl.ch/people/candea/">Professor George Candea</a> and <a href="https://zhou-diyu.github.io/">Diyu Zhou.
                        Prior to EPFL, I received my master's degree in the <a href="https://www.cs.tsinghua.edu.cn/">Computer Science Department</a> at <a href="https://www.tsinghua.edu.cn/">Tsinghua University</a>.
                        I worked with <a href="https://cg.cs.tsinghua.edu.cn/shimin.htm">Shi-Min Hu</a> and <a href="https://baijiaju.github.io/">Jia-Ju Bai</a> in OSLAB.
                        Prior to Tsinghua, I worked 3 years for China Merchants Bank as a software developer.
                        I obtained my Bachelor’s degree at <a href="https://www.zju.edu.cn/">Zhejiang University</a>.
                    </p>

                    <hr>

                    <h2 id="publications">Publications</h2>

                    <ul>
                        <li><a href="https://ieeexplore.ieee.org/document/9811701">ROZZ: Property-based Fuzzing for Robotic Programs in ROS</a></li>
                    </ul>
                    <p>Kai-Tao Xie, Jia-Ju Bai, <b>Yong-Hao Zou</b>, Yu-Ping Wang.</p>
                    <p>Proceedings of the 2022 International Conference on Robotics and Automation (ICRA), 2022.</p>

                    <ul>
                        <li><a href="https://www.usenix.org/conference/atc21/presentation/zou">TCP-Fuzz: Detecting
                                Memory and Semantic Bugs in TCP Stacks with Fuzzing</a></li>
                    </ul>
                    <p><b>Yong-Hao Zou</b>, Jia-Ju Bai, Jielong Zhou, Jianfeng Tan, Chenggang Qin, Shi-Min Hu.</p>
                    <p>Proceedings of the 2021 USENIX Annual Technical Conference (USENIX ATC), 2021.</p>

                    <ul>
                        <li><a href="https://ieeexplore.ieee.org/document/9560876">Effective Crash Recovery of Robot
                                Software Programs in ROS</a></li>
                    </ul>
                    <p><b>Yong-Hao Zou</b>, Jia-Ju Bai.</p>
                    <p>Proceedings of the 2021 International Conference on Robotics and Automation (ICRA), 2021.</p>

                    <hr>

                    <h2 id="industry">Work experience</h2>

                    <ul>
                        <li>Software Developer @ China Merchants Bank, 2015 ~ 2018</li>
                    </ul>

                    <hr>

                    <h2 id="misc">Honors</h2>

                    <p>Outstanding Master's Graduate, Tsinghua University</p>

                    <hr>

                    <h2 id="misc">Misc.</h2>

                    <p>I write some blogs <a href="/blog">here</a>.</p>
                    <p><a href="http://zouyonghao.github.io/assets/CV.pdf">Curriculum vitae</a></p>

                </section>


            </article>
        </div>

        <footer>
        </footer>

    </div>

</body>

</html>