<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta name="author" content="Yonghao Zou">
    <title>Yonghao Zou (邹永浩)</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/highlight.css">
</head>

<body class="" id="syno-nsc-ext-gen3">
    <div id="container">
        <div id="main" role="main">
            <header>
                <div style="float: right;">
                    <img src="/assets/images/yonghao.png" height="200px"
                        style="float:right; border-radius: 15%; padding:0px">
                </div>
                <h1>Yonghao Zou (邹永浩)</h1>
                <p class="content">
                    <a href="https://github.com/TELOS-syslab">TELOS</a>
                    <br>
                    <a href="https://cs.pku.edu.cn/English/Home.htm">School of Computer Science</a>
                    <br>
                    <a href="https://english.pku.edu.cn/">Peking University</a>
                    <br>
                </p>
                <div class="content">
                    Email: zouyonghao (at) live.cn, zou (at) yonghao.org <br>
                </div>
                <div class="content">
                    Address: Peking University New Changping Campus, Shenniu Rd, Changping District, Beijing, China <br>
                </div>
            </header>
            <article class="content">
                <section class="post">

                    <hr>

                    <h2 id="news">News</h2>

                    <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">CortonMM got accepted!</p>

                    <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I will continue my PhD study at PKU.</p>

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">The DistFuzz paper got accepted.</p> -->

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">The TPot paper got accepted.</p> -->

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I joined DSLAB working with <a href="http://dslab.epfl.ch/people/candea/">Professor George Candea</a> and <a href="https://zhou-diyu.github.io/">Dr. Diyu Zhou.</a></p> -->

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I will be a Ph.D at <a href="https://www.epfl.ch/en/">EPFL</a> in 2023.</p> -->

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I am looking for a Ph.D. position for 2023, please contect me if you are interested. <a href="http://zouyonghao.github.io/assets/CV.pdf">CV</a></p> -->

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I joined Moco Tech as CTO!</p> -->

                    <!-- <p><img src="../images/new-icon-12.png" alt="" width="30px" style="display: inline;">I graduated from Tsinghua University and got Outstanding Graduate!</p> -->

                    <hr>

                    <h2 id="interests">Research Interests</h2>

                    <p>Computer Systems, Security, Fuzzing, Verification, Robotics</p>

                    <p>Currently, I am working on system software verification.</p>

                    <hr>

                    <h2 id="biography">Biography</h2>

                    <p>
                        I will be a PhD student at PKU working with <a href="https://zhou-diyu.github.io/">Prof. Diyu Zhou</a>.
                        Before that, I worked with <a href="http://dslab.epfl.ch/people/candea/">Prof. George Candea</a> and <a href="https://zhou-diyu.github.io/"> Prof. Diyu Zhou</a> at EPFL.
                        Prior to EPFL, I received my master's degree in the <a href="https://www.cs.tsinghua.edu.cn/">Computer Science Department</a> at <a href="https://www.tsinghua.edu.cn/">Tsinghua University</a>.
                        I worked with <a href="https://cg.cs.tsinghua.edu.cn/shimin.htm">Shi-Min Hu</a> and <a href="https://baijiaju.github.io/">Jia-Ju Bai</a> in OSLAB.
                        Prior to Tsinghua, I worked 3 years for China Merchants Bank as a software developer.
                        Before that, I obtained my Bachelor's degree at <a href="https://www.zju.edu.cn/">Zhejiang University</a>.
                    </p>

                    <hr>

                    <h2 id="publications">Publications</h2>

                    <ul>
                        <li><a href="">CortenMM: Efficient Memory Management with Strong Correctness Guarantee</a></li>
                    </ul>
                    <p class="author">Junyang Zhang, Xiangcan Xu, <b>Yonghao Zou</b>, Zhe Tang, Xinyi Wan, Kang Hu, Siyuan Wang, Wenbo Xu, Di Wang, Hao Chen, Hongliang Tian, Lin Huang, Shoumeng Yan, Yuval Tamir, Yingwei Luo, Xiaolin Wang, Huashan Yu, Zhenlin Wang, and Diyu Zhou</p>
                    <p class="conference">Proceedings of the 31st ACM Symposium on Operating Systems Principles (SOSP '25)</p>

                    <ul>
                        <li><a href="https://zouyonghao.github.io/assets/paper/ndss25-distfuzz.pdf">Blackbox Fuzzing of Distributed Systems with Multi-Dimensional Inputs and Symmetry-Based Feedback Pruning</a></li>
                    </ul>
                    <p class="author"><b>Yonghao Zou</b>, Jia-Ju Bai, Zu-Ming Jiang, Ming Zhao, Diyu Zhou</p>
                    <p class="conference">Proceedings of the 32th Network and Distributed System Security Symposium (NDSS '25) <a href="https://github.com/zouyonghao/DistFuzz">Code</a></p>

                    <ul>
                        <li><a href="https://dslab.epfl.ch/pubs/tpot.pdf">Practical Verification of System-Software Components Written in Standard C</a></li>
                    </ul>
                    <p class="author">Can Cebeci, <b>Yonghao Zou</b>, Diyu Zhou, George Candea, Clément Pit-Claudel</p>
                    <p class="conference">Proceedings of the 30th ACM Symposium on Operating Systems Principles (SOSP '24)</p>

                    <ul>
                        <li><a href="https://zouyonghao.github.io/assets/paper/osdi24posters-final.pdf">Poster: Memory Usage Interfaces for Serverless Functions</a></li>
                    </ul>
                    <p class="author"><b>Yonghao Zou</b>, David Hua, George Candea</p>
                    <p class="conference">Poceedings of the 18th USENIX Symposium on Operating Systems Design and Implementation (OSDI '24 Poster)</p>

                    <ul>
                        <li><a href="https://zouyonghao.github.io/assets/paper/rozz.pdf">ROZZ: Property-based Fuzzing for Robotic Programs in ROS</a></li>
                    </ul>
                    <p class="author">Kai-Tao Xie, Jia-Ju Bai, <b>Yong-Hao Zou</b>, Yu-Ping Wang</p>
                    <p class="conference">Proceedings of the 2022 International Conference on Robotics and Automation (ICRA '22)</p>

                    <ul>
                        <li><a href="https://www.usenix.org/conference/atc21/presentation/zou">TCP-Fuzz: Detecting Memory and Semantic Bugs in TCP Stacks with Fuzzing</a></li>
                    </ul>
                    <p class="author"><b>Yong-Hao Zou</b>, Jia-Ju Bai, Jielong Zhou, Jianfeng Tan, Chenggang Qin, Shi-Min Hu</p>
                    <p class="conference">Proceedings of the 2021 USENIX Annual Technical Conference (ATC '21) <a href="https://github.com/zouyonghao/TCP-Fuzz">Code</a></p>

                    <ul>
                        <li><a href="https://zouyonghao.github.io/assets/paper/rory.pdf">Effective Crash Recovery of Robot Software Programs in ROS</a></li>
                    </ul>
                    <p class="author"><b>Yong-Hao Zou</b>, Jia-Ju Bai</p>
                    <p class="conference">Proceedings of the 2021 International Conference on Robotics and Automation (ICRA '21)</p>

                    <hr>

                    <h2 id="industry">Work experience</h2>

                    <ul>
                        <li>CTO @ MocoTech, 2022</li>
                        <li>Software Developer @ China Merchants Bank, 2015 ~ 2018</li>
                    </ul>

                    <hr>

                    <h2 id="honors">Honors</h2>

                    <p>EPFL Computer Science (EDIC) Fellowship</p>

                    <p>Outstanding Master's Graduate, Tsinghua University</p>

                    <hr>

                    <h2 id="honors">Teaching</h2>

                    <p><a href="https://swent.epfl.ch/">CS-311 The software enterprise - from ideas to products</a>, Spring 2024, Fall 2024, (TA)</p>

                    <hr>

                    <h2 id="activities">Academic Activities</h2>

                    <p>EuroSys 2025 (Shadow PC)</p>

                    <hr>

                    <h2 id="misc">Misc.</h2>

                    <p>Assigned CVEs: CVE-2023-50575, CVE-2023-50576, CVE-2023-50577, CVE-2024-22937</p>
                    <p>I used "Yong-Hao" as my English name during Tsinghua.</p>
                    <p>I write some blogs <a href="/blog">here</a>.</p>
                    <p><a href="http://zouyonghao.github.io/assets/CV.pdf">Curriculum vitae</a></p>
                    <p>Steam <a href="https://steamcommunity.com/id/dlyxy_zyh/">dlyxy_zyh</a></p>

                </section>


            </article>
        </div>

        <footer>
        </footer>

    </div>

</body>

</html>