<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">


<head>

    <meta name="author" content="Yong-Hao Zou">
    <title>Yong-Hao Zou (邹永浩) | Yong-Hao Zou</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/highlight.css">

</head>

<body class="" id="syno-nsc-ext-gen3">
    <div id="container">
        <div id="main" role="main">
            <header>
                <div style="float: right;">
                    <img src="/assets/images/yonghao.png" height="200px"
                        style="float:right; border-radius: 15%; padding:0px">
                </div>
                <h1>Yong-Hao Zou (邹永浩)</h1>
                <p class="content">
                    <a href="https://oslab.cs.tsinghua.edu.cn/">OSLAB</a>
                    <br>
                    <a href="https://www.cs.tsinghua.edu.cn/">Department of Computer Science</a>
                    <br>
                    Tsinghua University
                    <br>
                </p>
                <div class="content">
                    Email: zouyh19 (at) mails.tsinghua.edu.cn <br>
                </div>
                <div class="content">
                    Address: Room 3-523, FIT Building, Tsinghua University, Beijing, 100084, China <br>
                </div>
            </header>
            <article class="content">
                <section class="post">

                    <h2 id="biography">Biography</h2>

                    <p>
                        I am studying for my master's degree in the <a href="https://www.cs.tsinghua.edu.cn/">Computer
                            Science Department</a> at <a href="https://www.tsinghua.edu.cn/">Tsinghua University</a>.
                        I am very fortunate to work with my advisor
                        <a href="https://cg.cs.tsinghua.edu.cn/shimin.htm">Shi-Min Hu</a> and <a
                            href="https://baijiaju.github.io/">Jia-Ju Bai</a> in <a
                            href="https://oslab.cs.tsinghua.edu.cn/">OSLAB</a>.
                        Before this, I worked 3 years for China Merchants Bank as a software developer.
                        I obtained my Bachelor’s degree at <a href="https://www.zju.edu.cn/">Zhejiang University</a>.
                    </p>

                    <hr>

                    <h2 id="publications">Publications</h2>

                    <ul>
                        <li><a href="https://www.usenix.org/conference/atc21/presentation/zou">TCP-Fuzz: Detecting Memory and Semantic Bugs in TCP Stacks with Fuzzing</a></li>
                    </ul>
                    <p><b>Yong-Hao Zou</b>, Jia-Ju Bai*, Jielong Zhou, Jianfeng Tan, Chenggang Qin, Shi-Min Hu.</p>
                    <p>Proceedings of the 2021 USENIX Annual Technical Conference (USENIX ATC), 2021.</p>

                    <ul>
                        <li><a href="https://www.ieee-icra.org/index.aspx">Effective Crash Recovery of Robot Software Programs in ROS (to appear)</a></li>
                    </ul>
                    <p><b>Yong-Hao Zou</b>, Jia-Ju Bai*.</p>
                    <p>Proceedings of the 2021 International Conference on Robotics and Automation (ICRA), 2021.</p>

                    <hr>

                    <h2 id="industry">Industry</h2>

                    <ul>
                        <li>Software Developer @ China Merchants Bank, 2015 ~ 2018</li>
                    </ul>

                    <hr>

                    <!-- <h2 id="misc">Misc.</h2>

                    <p>I write some blogs <a href="/blog">here</a>.</p> -->

                </section>


            </article>
        </div>

        <footer>
        </footer>

    </div>

</body>

</html>